html {
  scrollbar-color: #fff #f4bfdb;
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  font-style: italic;
}

.Global__wrapper {
  margin: 0 auto;
  max-width: 750px;
  width: 75%;
}

.Main {
  margin-bottom: 50px;
}
